  .content {
    width: 1010px;
    height: 602px !important;
    position: relative;
  background:url("../img/background.png") no-repeat ;
  height: 1007px;
  background-size: cover;
}

 .content  .logo {
   padding-top: 20px;
    padding-left: 12px;
  }
 .content h2 {
   display: inline-block;
   /*margin-left: 30px;*/
   padding: 32px 0 0 15px;
   color: rgb(0,0,0);
   font-weight: 600;
   font-family: "宋体";
 }
 .content  .webName{
   margin-left: 30px;
   padding: 36px 0 0 50px;
   color: black;
   font-weight: 600;
   position: absolute;
   top:32px;
   left: 20px;
 }

  .content .register {
    margin-left: 15px;
    margin-right: 30px;
    margin-top: 20px;
    color: #ff66ff;
    border: 1px solid #ff66ff;
    background:  transparent;
  }
  .content .login {

    margin-top: 20px;
    background-color: #3399cc;
  }

  .content #signIn{
    /*display: inline-block;*/
    display: none;
    position: absolute;
    left: 730px;
  }
  .content .showInlineBlock{
    display: inline-block !important;
  }
  .content #signIn form {
    display: inline-block;
  }
  .content #signIn input {
    display: inline-block;
    width: 115px;
    height: 40px;
    padding-left: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    margin-top: 10px;
    margin-left: 0;
    position: relative;
    top:60px;
    left: 130px;
  }
  .content #signIn .btn {
    display: inline-block;
    width: 120px;
    height: 40px;
    margin-top: 10px;
    position: relative;
    top:60px;
    left: 130px;
  }

  .content  .modal-dialog {
    width: 550px;
    margin: 100px auto;
  }
  .content form select {
    width: 220px;
    height: 30px;
    border: 1px solid #ccc;
    margin-left: 20px;
  }
  .content form label {
    margin-top: 10px;
    padding-top: 10px;
    margin-right: 20px;
  }
  .content form input {
    width: 220px;
    height: 30px;
    border: 1px solid #ccc;
    /*margin-top: 20px;*/
    margin-left: 20px;
  }

  .content #captchaPic{
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
  }
  .content  .submit {
    position: relative;
    left:-280px;
  }

  .content .slogan {
    /*display: inline;*/
    width: 300px;
    height: 300px;
    color: white;
    border: 1px solid #000;
    margin: 50px auto;
    /*position: absolute;*/
    z-index: 10;
  }
  .content .slogan h2 {
    display: block;
    text-align: center;
    color: white;
  }
  .content .slogan span{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font: 500 36px "Microsoft YaHei" ;
  }
  .content .copyRight {
    position: relative;
    bottom: -50px;
    color: #fff;
    margin-right: 50px;
  }
